.App {
  text-align: center;
  background: url('/images/Twitter_Bridge.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* .App-header {
  /* background-color: #182628; */
  /* min-height: 10vh; */
  /* font-size: 18px; */
  /* color: #57BA98; */
/*} */

/* .App-nav {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;  
} */

.App-main {
  background-color: #65CCB8;
  /* background-color: rgba(0, 0, 0, 0.6); */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #F2F2F2;
}

.App-footer {
  background-color: #3B945E;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: 182628;
}

#twitter-logo {
  height: 5vh;
  fill: #65CCB8;
}