.App {
  text-align: center;
  background: url('images/Twitter_Bridge.jpg') no-repeat center center fixed;
  background-size: cover;
}

.App-main {
  /* background-color: #65CCB8; */
  background-color: rgba(101, 204, 184, 0.6);
  height: 44vh;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 2vmin);
  color: #F2F2F2;
}

.showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url('images/Twitter_Logo_White.svg') no-repeat center center fixed;
  background-size: cover;
  margin: 0 auto;  
  width: 100vmin;
  height: 100vmin;
  color: #182628;
}

footer {
  /* background-color: #3B945E; */
  background-color: rgba(59, 148, 94, .6);
  height: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #57BA98;
}

#jk-logo {
  height: 4vh;
}

#twitter-logo {
  height: 4vh;
  fill: #65CCB8;
}
