.App {
  text-align: center;
}

.App-header {
  background-color: #17252A;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FEFFFF;
}

.App-main {
  background-color: #2b7a78;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #DEF2F1;
}

.App-footer {
  background-color: #3AAFA9;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #DEF2F1;
}
